{# URI: /section #}

{# START set variables. #}

{# END set variables. #}

{# START content block. #}
{% block content %}
    <h1>Hello. I am the <pre>/section</pre> index template.</h1>
{% endblock content %}
{# END content block. #}
